@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
}

body {
    background-color: #d5d5d5;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-mail-list {
    background-color: #fff;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.mail-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    font-size: 2rem;
    margin-bottom: 2rem;
}